<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OLIP Authentication</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">


</head>

<body>
<div class="confirm-page">
    <div class="confirm-card">
        <div class="form confirm-form">
            <p class="error">{{ message }}</p>
            <form class="login-form" method="post">
                <p class="message">An application wants you to authenticate. Do you confirm the action ?</p>
                <div class="button-bar">
                    <button type="submit" name="cancel" value="true" class="btn cancel-btn margin-right-10">Cancel
                    </button>
                    <button type="submit" name="confirm" value="true" class="btn submit-btn">Confirm</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>

</body>

</html>